{% extends 'layout.html.twig' %}

{% block title %}Académica{% endblock %}

{% block logo %}
    {# include 'default/logo.html.twig' #}
{% endblock %}
{% block content %}
<div id="contenedor-global" class="pt-5">
        <!-- Seccion Fotografía Académica -->
    <section>
        <div class="container seccion pt-5 text-dark">
            <p class="h2 text-center mb-4 font-weight-bold" style="text-shadow: 1px 1px rgba(255,255,255, 0.4)">FOTOGRAFÍA ACADÉMICA</p>
            <br/>
            <br/>
            <p class="h3 text-center mb-3">Además de la fotografía académica que marca el protocolo, ponemos</p>
            <p class="h3 text-center mb-3">a tu disposición diferentes fotografías de estudio, informales y retratos especiales</p>
        </div>
    </section>
        <!--End Seccion Fotografía Académica -->

        <!-- Seccion Orla Graduación -->
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    <section id="graduation-anchor" class="seccion-rojo">
        <div class="container seccion  p-4 text-dark">

            <p style="text-shadow: 1px 1px rgba(255,255,255, 0.4)" class="h2 text-center mb-4 font-weight-bold">ORLA DE GRADUACIÓN</p>
            <p class="h5 text-center mb-3">Valoramos tu tiempo, gestiona tu orla a través de nuestra web</p>
            <p class="h5 text-center mb-3">En casa y sin prisas, de forma cómoda e intuitiva</p>
            <p class="h5 text-center mb-3">Desde el comienzo del proceso a la entrega final</p>
            <br/>
            <div class="row justify-content-center" style="padding-bottom: 0px;">
                <div style="margin-bottom: 40px;" class="col-md-4 text-center">
                    <img class="img-fluid" src="{{ asset('build/img/gestion2.png') }}" alt="Generic placeholder image">
                    <h3 class="text-center">GESTIÓN WEB</h3>
                    <p class="text-center">Gestiona todo el proceso y mantente informado a través de nuestra aplicación web</p>
                    <p class="text-center">Visualiza el estado de tu orla</p>
                    <p class="text-center">Elige tu lote fotográfico de entre varias opciones</p>
                </div>
                <div style="margin-bottom: 40px;" class="col-md-4 text-center">
                    <img class="img-fluid" src="{{ asset('build/img/orla.png') }}" alt="Generic placeholder image">
                    <h3 class="text-center">DISEÑO</h3>
                    <p class="text-center">Diseños propios personalizados</p>
                    <p class="text-center">Orlas clásicas, modernas o temáticas</p>
                    <p class="text-center">Vota el diseño que más te guste y a los profesores que quieras que aparezcan en la orla</p>
                </div>
                <div style="margin-bottom: 40px;" class="col-md-4 text-center">
                    <img class="img-fluid" src="{{ asset('build/img/sesiones.png') }}" alt="Generic placeholder image">
                    <h3 class="text-center">SESIONES</h3>
                    <p class="text-center">Elije tu cita cuando mejor te venga</p>
                    <p class="text-center">Nos desplazamos a tu centro con el equipo de iluminación y fotográfico de estudio profesional</p>
                    <p class="text-center">Visualiza las tomas en el ordenador y compara las diferentes fotografías para conseguir una elección óptima o repetir la toma si fuera necesario</p>
                </div>
            </div>
        </div>
    </section>
        <!--End Seccion Orla Graduación -->
        <br/>
        <br/>
        <br/>
        <br/>

        <!-- Seccion Graduaciones -->
        <div class="seccion p-4 text-dark">
            <p class="h2 text-center mb-4 font-weight-bold">GRADUACIONES</p>
            <p class="h3 text-center mb-3">Realiza el reportaje de tu graduación en video o en fotografía</p>
            <p class="h3 text-center mb-3">Disponemos de una gran variedad de ofertas para nuestros clientes</p>
        </div>
        <!--End Seccion Graduaciones -->
        <br/>
        <br/>
        <br/>

        <!-- Seccion Campaña Navideña -->
        <div id="foto-escuela-anchor" class="seccion seccion-rojo p-4 text-dark">
            <h1 id="prueba" class="display-1 text-center mb-4 font-weight-bold" style="text-shadow: 1px 1px rgba(255,255,255, 0.4)">FOTOESCUELA</h1>
            <p style="text-shadow: 1px 1px rgba(255,255,255, 0.4)" class="h3 text-center mb-4">CAMPAÑA NAVIDEÑA</p>
            <p class="h5 text-center mb-3">Contamos con personal especializado en fotografía infantil</p>
            <p class="h5 text-center mb-3">Realizamos las fotos en el centro escolar para la comodidad de padres y alumnos </p>
            <p class="h5 text-center mb-3">Ofrecemos desde estilos tradicionales hasta los más modernos</p>
            <p class="h5 text-center mb-3">El centro elegirá entre distintas combinaciones de fondos y atrezzos</p>
            <br/>
            <div class="row justify-content-center" style="padding-bottom: 0px;">
                <div style="margin-bottom: 40px;" class="col-md-6 text-center">
                    <img class="img-fluid" src="{{ asset('build/img/gestion2.png') }}" alt="Generic placeholder image">
                    <h3 class="text-center">SESIONES DE FOTOS</h3>
                    <p class="text-center">Realizamos las sesiones de fotos en el centro de estudios, instituto, colegio...</p>
                    <p class="text-center">Desplazamos al centro el material necesario, atrezzo, fondos, equipos de iluminación y fotográfico de estudio profesional...</p>
                    <p class="text-center">Garantizamos resultados óptimos y de alta calidad</p>
                </div>
                <div style="margin-bottom: 40px;" class="col-md-6 text-center">
                    <img class="img-fluid" src="{{ asset('build/img/orla.png') }}" alt="Generic placeholder image">
                    <h3 class="text-center">PRODUCTOS</h3>
                    <p class="text-center">Gran variedad de productos para la configuración de diferentes lotes adaptando los precios a las distintas necesidades de cada centro</p>
                    <p class="text-center">Contamos con artículos tales como: fotografías, calendarios, felicitaciones, mochilas, bolas colgantes...</p>
                </div>
            </div>
        </div>
        <!--End Campaña Navideña -->
        <br/>
        <br/>
        <br/>
        <!-- Seccion Fin de Curso -->
        <div class="seccion p-4 text-dark">
            <p class="h2 text-center mb-4 font-weight-bold" style="text-shadow: 1px 1px rgba(255,255,255, 0.4)">FIN DE CURSO</p>
            <p class="h3 text-center mb-3">En esta campaña ofrecemos orla tradicional, orla informal, tematizadas...</p>
            <p class="h3 text-center mb-3">También ofrecemos divertidas fotografías de grupo</p>
            <br/>
            <div class="row justify-content-center" style="padding-bottom: 0px;">
                <div style="margin-bottom: 40px;" class="col-md-6 text-center">
                    <img class="img-fluid" src="{{ asset('build/img/gestion2.png') }}" alt="Generic placeholder image">
                    <h3 class="text-center">SESIONES DE FOTOS</h3>
                    <p class="text-center">Realizamos las sesiones de fotos en el centro de estudios, instituto, colegio...</p>
                    <p class="text-center">Desplazamos al centro el material necesario, atrezzo, fondos, equipos de iluminación y fotográfico de estudio profesional...</p>
                    <p class="text-center">Garantizamos resultados óptimos y de alta calidad</p>
                </div>
                <div style="margin-bottom: 40px;" class="col-md-6 text-center">
                    <img class="img-fluid" src="{{ asset('build/img/orla.png') }}" alt="Generic placeholder image">
                    <h3 class="text-center">PRODUCTOS</h3>
                    <p class="text-center">Gran variedad de productos para la configuración de diferentes lotes adaptando los precios a las distintas necesidades de cada centro</p>
                    <p class="text-center">Contamos con artículos tales como: orla, paquetes de fotografías individuales, alfombrillas de ratón, lapiceros, tazas, botellas...</p>
                </div>
            </div>
        </div>
        <!--End Seccion Fin de Curso -->

        <div class="row" style="padding:0; margin:0; height:30vh;">
            <div class="malla-blanca"></div>
            <div class="bg-container">
                <video autoplay muted loop class="video_bg pt-5">
                    <source src="{{ asset('build/img/video.mp4') }}" type="video/mp4">
                </video>
            </div>
        </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jquery-easing') }}
    {{ encore_entry_script_tags('smoth-scroll') }}
    <script>$('#foto-escuela-anchor').html('hola')</script>
{% endblock %}
