{% extends 'layout.html.twig' %}

{% block title %}Muestras{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('unitegallery/css/unite-gallery.css') }}" type='text/css' />
{% endblock %}

{% block content %}
<div id="contenedor-global" class="pt-5 pb-5">
    <div class="container-fluid pb-5">
        <div class="seccion pt-5 text-light mr-4 ml-4 mt-2">
            <div class="col-md-10 alert alert-primary mx-auto text-center" role="alert">
                <p class="h3">Productos disponibles</p>
                <p>Puedes hacer click en las imágenes y luego girar la rueda del ratón para aumentarlas, también puedes navegar por la galería de productos.</p>
            </div>
        </div>

        {# Contenedor muestras #}
        <div class="m-4 mt-5" id="gallery" style="display:none;">
            {% for mc in muestras %}
            <a href="#">
            <img alt="{{ mc.muestrasCarrera.imageName }}"
                 src="{{ asset('build/img/' ~ mc.muestrasCarrera.imageName) }}"
                 data-image="{{ asset('build/img/' ~ mc.muestrasCarrera.imageName) }}"
                 data-description="{{ mc.muestrasCarrera.imageName }}"
                 style="display:none">
            </a>
            {% endfor %}

        </div>
        {# End Contenedor muestras #}

        <div class="row" style="padding:0; margin:0; height:30vh;">
            <div class="malla"></div>
            <div class="bg-container" style="background: #a8a8a8;">
                <img width="100%" style="min-width: 600px" src="{{ asset('build/img/Inicio.jpg') }}">
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('unitegallery/js/jquery-11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('unitegallery/js/unitegallery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('unitegallery/themes/tiles/ug-theme-tiles.js') }}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery("#gallery").unitegallery({
            lightbox_type: "compact",
	        tiles_type: "justified",
        });
    });
    </script>
{% endblock %}
