<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<title>Apartefotografía | {% block title %}Inicio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#<link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />#}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('app') }}

    <!-- Renders a link tag (if your module requires any CSS)
         <link rel="stylesheet" href="/build/app.css"> -->
         <link href="{{ asset('/css/fontawesome.css') }}" rel="stylesheet">
         <link href="{{ asset('/css/brands.css') }}" rel="stylesheet">
         <link href="{{ asset('/css/solid.css') }}" rel="stylesheet">
         <link href="{{ asset('/css/styles.css') }}" rel="stylesheet">
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>
